/*================== Geral ==================*/
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Lato', sans-serif;
}
html, body , .banner {
    height: 89%;
}
/*================== Layout ==================*/
/*Header-nav*/
.header-nav {
    background-color: #F9F9F9;
}
.header-nav > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-nav .logo {
    margin: 15px 0;
    line-height: 54px;
    font-size: 30px;
    font-family: 'Libre Baskerville', serif;
}
.botao-entrar, .botao-cadastrar {
    padding: 10px 27px;
    border-radius: 50px;
    margin: 3px;
    color: #fff;
    font-weight: 600;
}
.botao-entrar:hover, .botao-cadastrar:hover {
    text-decoration: none;
    color: #fff;
}
.botao-entrar {
    background-color: #66A9D8; 
}
.botao-cadastrar {
    background-color: #63d2af;
}

/*Banner*/
.banner {
    background-image: url('../images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.banner > .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.texto-banner {
    color: #fff;
}
.texto-banner > h1 {
    font-family: 'Libre Baskerville', serif;
    font-size: 68px;
    margin-bottom: 30px;
}
.texto-banner > p {
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
    margin: 0;
}
.botao-banner {
    padding: 18px 50px;
    border-radius: 3px;
    color: #539ed1;
    background-color: #fff;
    text-transform: uppercase;
    font-size: 14px;
}
.botao-banner:hover {
    color: #539ed1;
    text-decoration: none;
}

/*Cards*/
.cards {
    display: flex;
}
.card-1, .card-2, .card-3 {
    color: #fff;
    padding: 60px;
}
.card-1 {
    background-color: #2A1F36;
    border-top: 6px solid #8767B6;
}
.card-2 {
    background-color: #30243E;
    border-top: 6px solid #66A9D8;
}
.card-3 {
    background-color: #362946;
    border-top: 6px solid #63D2AF;
}
.card-titulo {
    font-family: 'Libre Baskerville', serif;
    font-size: 34px;
    margin-bottom: 15px;
}
.card-subtitulo {
    color: #a9a0b4;
}
.card-lista {
    list-style-type: none;
}
.card-lista li {
    margin-bottom: 10px;
    font-weight: 700;
}