/*================== Geral ==================*/
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Lato', sans-serif;
    background-color: #f6f6f6;
}
html, body {
    height: 100%;
}
.banner {
    height: 70%;
}
/*================== Layout ==================*/
/*Header-nav*/
.header-nav {
    background-color: #FFFFFF;
}
.header-nav > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container-logo-nav {
    display: flex;
    margin: 15px 0;
    line-height: 54px;
}
.container-logo-nav .nav-usuario{
    margin-left: 60px;
}
.container-logo-nav .nav-usuario ul {
    margin: 0;
}
.header-nav .logo > a {
    font-size: 30px;
    font-family: 'Libre Baskerville', serif;
    color: #539ed1;
}
.header-nav .logo > a:hover {
    text-decoration: none;
}
.nav-usuario ul {
    list-style-type: none;
}
.nav-usuario ul li {
    display: inline-block;
    padding: 0 7px;
}
.nav-usuario li a {
    color: #000;
}
.nav-usuario li a:hover {
    text-decoration: none;
}

.botao-entrar, .botao-cadastrar, .botao-sair {
    padding: 10px 27px;
    border-radius: 50px;
    margin: 3px;
    color: #fff;
    font-weight: 600;
}
.botao-entrar:hover, .botao-cadastrar:hover, .botao-sair:hover {
    text-decoration: none;
    color: #fff;
}
.botao-entrar {
    background-color: #66A9D8; 
}
.botao-cadastrar {
    background-color: #63d2af;
}
.botao-sair {
    background-color: crimson;
}
/*Banner*/
.banner {
    background-image: url('../images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.banner > .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.texto-banner {
    color: #fff;
}
.texto-banner > h1 {
    font-family: 'Libre Baskerville', serif;
    font-size: 68px;
    margin-bottom: 30px;
}
.texto-banner > p {
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
    margin: 0;
}
.botao-banner {
    padding: 18px 50px;
    border-radius: 3px;
    color: #539ed1;
    background-color: #fff;
    text-transform: uppercase;
    font-size: 14px;
}
.botao-banner:hover {
    color: #539ed1;
    text-decoration: none;
}

/*Cards*/

.card-1, .card-2, .card-3 {
    color: #fff;
    padding: 60px;
}
.card-1 {
    background-color: #2A1F36;
    border-top: 6px solid #8767B6;
}
.card-2 {
    background-color: #30243E;
    border-top: 6px solid #66A9D8;
}
.card-3 {
    background-color: #362946;
    border-top: 6px solid #63D2AF;
}
.card-titulo {
    font-family: 'Libre Baskerville', serif;
    font-size: 34px;
    margin-bottom: 15px;
}
.card-subtitulo {
    color: #a9a0b4;
}
.card-lista {
    list-style-type: none;
}
.card-lista li {
    margin-bottom: 10px;
    font-weight: 700;
}

/*Especialidades*/
.especialidades {
    padding: 80px 0;
}
.especialidades h2 {
    font-family: 'Libre Baskerville', serif;
}
.especialidades h4 {
    color: #539ed1;
}
.traco-especialidades {
    border: 1px solid #63d2af;
    width: 100px;
    margin-bottom: 40px;
}

/*footer*/
footer {
    background-color: #333333;
    color: #fff;
    height: 80px;
    line-height: 80px;
}
/*============ Login.php ===========*/
.form-login {
    position: absolute;
    left: 50%;
    margin-top: 100px;
    margin-left: -160px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    padding: 20px;
    width: 320px;
    text-align: center;
}
.form-titulo {
    margin: 15px 0;
}
.form-login input {
    margin-bottom: 15px;
}
.form-login .botao-login {
    background-color: #005EA6;
    color: #fff;
    font-weight: 600;
    padding: 15px 80px;
    margin: 6px 0 15px 0;
    width: 100%;
    border-radius: 3px;
    border: none;
    display: inline-block;
}
/*============ Registrar.php ============*/
.escolha {
    text-align: center;
}
.escolha h2 {
    font-size: 45px;
    margin: 50px 0;
}
.escolha-item {
    padding: 0 80px;
}
.escolha-item h5 {
    font-size: 27px;
    margin-top: 13px;
}
.escolha-item p {
    color: #C0BFC1;
    font-size: 17px;
}
.botao-continuar {
    background-color: #005EA6;
    color: #fff;
    font-weight: 600;
    padding: 15px 80px;
    margin: 6px 0;
    border-radius: 50px;
    display: inline-block;
}
.botao-continuar:hover {
    text-decoration: none;
    color: #fff;
}

/*============ Area-paciente.php ============*/
.area-usuario .titulo-coluna {
    font-family: 'Libre Baskerville', serif;
    font-size: 25px;
    margin-top: 30px;
}
.area-usuario .traco-titulo {
    border: 1px solid #63D2AF;
    margin-top: 0;  
}
.listagem_medicos {
    list-style-type: none;
}
.lista_item {
    background-color: #FFFFFF;
    margin: 20px 0;
    padding: 20px;
    border-bottom: 5px solid #66A9D8;
}
.lista_item:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.lista_item .endereco {
    float: right;
}
.lista_item .nome_especialidade {
    color: rgb(39, 135, 204);
}
.lista_item .nome_medico {
    text-transform: capitalize;
}
.lista_item .desc_especialidade {
    color: rgba(0, 0, 0, 0.74);
}
.botao-mais-detalhes {
    background-color: #63D2AF;
    padding: 10px 28px;
    border-radius: 4px;
    font-weight: 700;
    color: #fff;
    transition: background-color 1s;
}
.botao-mais-detalhes:hover {
    color: #fff;
    text-decoration: none;
    background-color: rgb(83, 184, 152);
}
.filtros {
    border: 1px solid #ccc;
    padding: 20px;
}
.botao-filtrar {
    display: inline-block;
    color: #fff;
    background-color: #63D2AF;
    width: 100%;
    padding: 8px;
    border: none;
}

/*============ Cadastrar-medico.php, Cadastrar-paciente.php ============*/
.form-cadastro .form-group label {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    margin-bottom: 2px;
    margin-left: 2px;
}
.form-cadastro .form-group input {
    height: 45px;
}
.cabecalho-cadatrar {
    text-align: center;
    margin: 35px 0;
}

/*============ mais-detalhes.php ============*/
.cabecalho-mais-detalhes {
    text-align: center;
    margin: 30px 0;
}
.botao-agendar {
    display: inline-block;
    margin: 10px 0;
    color: #000;
    background-color: #fff;
    padding: 12px 22px;
    border-radius: 50px; 
    font-weight: 700;
}
.botao-agendar:hover {
    text-decoration: none;
    color: #000;
}